[Oo]bj/
[Bb]in/
tmp/
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.svn
*.DS_Store
[Tt]humbs.db 
Ankh.NoLoad
[Pp]ackages/
capybara*.html
_ReSha*
tmp/
TestR*.xml
*.swp
TestResult.xml
GlobalAss*
data*.log
*.dat
settings.local.config
.sass-cache/
*.orig
node_modules/
npm-debug.log
.vs/
