<header>
    <div class="container">
        <section id="social" class="hidden-xs hidden-sm">
            <a href="https://twitter.com/wpgnetug" target="_blank">
                <i class="icon-twitter"></i>
                Follow us on Twitter
            </a>
            <a href="https://github.com/WpgDotNetUG/UserGroupWebsite" target="_blank">
                <i class="icon-github"></i>
                Fork me on GitHub
            </a>
        </section>
        <nav class="navbar">
            <a href="/" class="navbar-brand">
                <img src="~/Images/logo_2013.png" alt="WPG.NET UG Logo"/>
            </a>
            <section id="description" class="navbar-left hidden-xs hidden-sm">
                <div class="title">
                    Winnipeg Dot Net User Group
                </div>
                <div class="description">A user group full of lambdas, LINQ, MVC, ponies and rainbows!</div>
            </section>
            <section id="main-menu" class="navbar-right">
                <section id="menu">@MenuItems()</section>
            </section>
        </nav>
    </div>
    <div class="divider"></div>
</header>

@helper MenuItems(string className = "")
{
    var newsSelected = ViewBag.Menu == "News" ? "active" : null;
    <ul class="nav">
        <li><a href="http://www.eventbrite.com/org/1699161450" target="_blank">.events</a></li>
        <li><a href="http://wpgdotnet.ideascale.com/" target="_blank">.topics</a></li>
        <!-- <li class="@newsSelected"><a href="/pagenews">.news</a></li> -->
        <li><a href="mailto: winnipegdotnet@gmail.com">.contact</a></li>
    </ul>
}
