<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="maventhought.testing.nunit" version="0.3.8" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="NUnit" version="2.5.10.11092" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net40" />
  <package id="SharpTestsEx" version="1.1.1" targetFramework="net40" />
  <package id="structuremap" version="2.6.3" targetFramework="net40" />
  <package id="structuremap.automocking" version="2.6.3" targetFramework="net40" />
</packages>