    <section id="next-event">
        <header>next.event</header>
        <section class="event">
            <span data-bind="if: loading">
                Finding about next event...
                <i class="icon-spin icon-spinner"></i>
            </span>
            <span data-bind="if: !loading() && eventPending">
                Next event in progress, please stay tuned!
            </span>
            <!-- ko ifnot: eventPending -->
            <!-- ko with: event -->
            <header data-bind="text: title" class="title"></header>
            <article data-bind="html: description" class='description'></article>
            <section class="location">
                <span class="image">
                    <i class="icon-calendar"></i>
                </span>
                <section class="calendar">
                    <div data-bind="text: date"></div>
                    <div data-bind="text: time"></div> 
                </section>
                <br/>
                <span class="image">
                    <i class="icon-map-marker"></i>
                </span>
                <section class="venue">
                    <div data-bind="text: venue"></div>
                    <div data-bind="text: address"></div>
                </section>
            </section>
            <!-- /ko -->
            <!-- /ko -->
        </section>
        <footer>
            <a href="#" data-bind="visible: !eventPending(), attr: { href: event.url }" class="read-more" target="_blank">Read more and register</a>
        </footer>
    </section>    
