
@{
    ViewBag.Title = "Contact Us";
}

<section class="board-members">
    <div class="row">
        <article class="col-md-4 col-sm-12">
            <section class="title">
                <div class="text">.contact the board</div>
                <div class="line"></div>
            </section>
            <section class="description">
                Looking to reach out directly to the Winnipeg .NET User Group board directly? Direct your query by clicking the board member to direct your query.
            </section>
            <section>
                <article id="board">
                    <div>
                        <img src="http://placehold.it/50x50" />
                        <h3>Amir Barylko</h3>
                        <h5>President</h5>
                        <a href="mailto:winnipegdotnet@gmail.com?subject=ATTN: Business Inquiries"><i class="icon-envelope"></i></a>
                    </div>
                    <div>
                        <img src="http://placehold.it/50x50" />
                        <h3>David Wesst</h3>
                        <h5>Event Planning</h5>
                        <a href="mailto:winnipegdotnet@gmail.com?subject=ATTN: Event Planning"><i class="icon-envelope"></i></a>
                    </div>
                    <div>
                        <img src="http://placehold.it/50x50" />
                        <h3>Roy Drenker</h3>
                        <h5>Finance</h5>
                        <a href="mailto:winnipegdotnet@gmail.com?subject=ATTN: Finance"><i class="icon-envelope"></i></a>
                    </div>
                    <div>
                        <img src="http://placehold.it/50x50" />
                        <h3>Tyler Doerksen</h3>
                        <h5>Newsletter</h5>
                        <a href="mailto:winnipegdotnet@gmail.com?subject=ATTN: Newsletter"><i class="icon-envelope"></i></a>
                    </div>
                    <div>
                        <img src="http://placehold.it/50x50" />
                        <h3>Dylan Smith</h3>
                        <h5>Social Media</h5>
                        <a href="mailto:winnipegdotnet@gmail.com?subject=ATTN: Social Media"><i class="icon-envelope"></i></a>
                    </div>
                </article>
            </section>
        </article>
    </div>
</section>

