
@{
    ViewBag.Title = "Contact Us";
}

<section id="contact" class="board-members">
    <div class="row">
        <section class="title">
            <div class="text">.contact us</div>
            <div class="line"></div>
        </section>
        <section class="description">
            Looking to reach out directly to the Winnipeg .NET User Group board directly? Direct your query by clicking the board member to direct your query.
        </section>
    </div>
    <article id="board" class="row">
        <div class="col-md-4 col-sm-12">
            <img class="img-rounded" src="~/Content/contactus/amir.jpg" />
            <h3>Amir Barylko</h3>
            <h5>President</h5>
            <a class="btn btn-primary" href="mailto:winnipegdotnet@gmail.com?subject=ATTN: Business Inquiries"><i class="icon-envelope"></i> Business Inquiries</a>
        </div>
        <div class="col-md-2 col-sm-12">
            <img class="img-rounded" src="~/Content/contactus/david.jpg" />
            <h3>David Wesst</h3>
            <h5>Event Planning</h5>
            <a class="btn btn-primary" href="mailto:winnipegdotnet@gmail.com?subject=ATTN: Event Planning"><i class="icon-envelope"></i> Events</a>
        </div>
        <div class="col-md-2 col-sm-12">
            <img class="img-rounded" src="~/Content/contactus/roy.png" />
            <h3>Roy Drenker</h3>
            <h5>Treasurer / Sponshorship</h5>
            <a class="btn btn-primary" href="mailto:winnipegdotnet@gmail.com?subject=ATTN: Sponsorhip"><i class="icon-envelope"></i> Sponsorship</a>
        </div>
        <div class="col-md-2 col-sm-12">
            <img class="img-rounded" src="~/Content/contactus/tyler.jpg" />
            <h3>Tyler Doerksen</h3>
            <h5>Newsletter</h5>
            <a class="btn btn-primary" href="mailto:winnipegdotnet@gmail.com?subject=ATTN: Newsletter"><i class="icon-envelope"></i> Newsletter</a>
        </div>
        <div class="col-md-2 col-sm-12">
            <img class="img-rounded" src="~/Content/contactus/dylan.jpg" />
            <h3>Dylan Smith</h3>
            <h5>Social Media</h5>
            <a class="btn btn-primary" href="mailto:winnipegdotnet@gmail.com?subject=ATTN: Social Media"><i class="icon-envelope"></i> Social Media</a>
        </div>
    </article>
</section>

