
@section scripts {
   @Scripts.Render("~/bundles/vm-home")
}

<section id="events">
    @{ Html.RenderPartial("_next_event"); }

    @{ Html.RenderPartial("_past_events"); }

    @{ Html.RenderPartial("_future_topics"); }
</section>



