
Events:

<ul id="list-events" data-bind="foreach: events">
    <li>
        <div>
            <div class="item">Event</div> <span data-bind="text: $data.Title"></span>
            <div class="item">Date</div> <span data-bind="text: $data.Date"></span>
        </div>
    </li>
</ul>

