
@section scripts {
   @Scripts.Render("~/bundles/vm-home")
}

<section id="events">
    @{ Html.RenderPartial("_next_event"); }

    @{ Html.RenderPartial("_past_events"); }

    @{ Html.RenderPartial("_future_topics"); }
</section>

<section id="news">
    <section class="news-item">
        <header>.news</header>
        <div class="news-title" data-bind="text: title"></div>
        <i class="icon-chevron-sign-right"></i>
    </section>
</section>


