
@section scripts {
   @Scripts.Render("~/bundles/vm-home")
   @Scripts.Render("~/bundles/slippry")
}

<section id="events">
    @{ Html.RenderPartial("_next_event"); }

    @{ Html.RenderPartial("_past_events"); }

    @{ Html.RenderPartial("_future_topics"); }
</section>

<!--
<section id="news">
    <section class="news-item">
        <header>.news</header>
        <div class="news-title" >
            <a href="/pagenews" data-bind="text: title"></a>
        </div>
        <a href="/pagenews" class="news-icon">
            <i class="icon-chevron-sign-right"></i>
        </a>
    </section>
</section>
-->