
@section scripts {
   @Scripts.Render("~/bundles/vm-home")
}

<section id="events">
    @{ Html.RenderPartial("_next_event"); }

    @{ Html.RenderPartial("_past_events"); }

    @{ Html.RenderPartial("_future_topics"); }
</section>

<section id="news">
    <ul data-bind="foreach: news">
       <li data-bind="text: Title"></li> 
    </ul>
</section>


