body
{
	#main-footer {
		@extend .container;

		#sponsors {
			.title {
				font-size: 1.6em;
				font-weight: bold;
				margin-bottom: 10px;
				color: $blue-deep;
			}
			.description {
				color: $blue-text;
				font-size: 1.1em;
				line-height: 20px;
				margin-bottom: 10px;

				a {
					color: darken($blue-text, 15%);
				}
			}

			.logos {
				list-style-type: none;
				.sponsor {
					margin: 0;
					display: inline-block;
					margin-bottom: 10px;
					img {
						width: 100px;
						height: 50px;
						border: none;
						background: $white;
						padding: 5px;
						@include border-radius(5px);
						@include box-shadow(3px 3px 2px darken($blue-background, 30%));					
					}
				}
			}
		}

		#copyright {
			@extend .pull-right;
			border-top:1px solid $gray;
			margin-right:20px;

		}
	}


}