.widget {

	h2 i {
		margin-right:10px;
	}

	ul {
		list-style: none;
		margin-left: 0px;

		li {
			margin-bottom: 15px;
			span.label {
				padding: 5px;
				font-family:monospace;
				margin-right:5px;
			}
		}
	}
}