@import "lib/bootstrap";
@import "lib/responsive";

.hero-unit {
	
	background-image: url('/images/wpg_bridge.jpg');
	background-position: 0px -150px;
	background-repeat: repeat-x; 

	h1 {
		color: $white;
	}

	.main-event {
		@extend .alert;
		@extend .alert-info;
		background-color: $white;

		header {
			
			label {
				@extend .label;
				@extend .label-important;
				@extend .pull-right;
				@include font-family-monospace;
				display: inline;
				padding: 5px;
				font-size: 0.8em;
			}

			i {
				margin-right:5px;
				padding-top:5px;
			}

			.title {
				font-style: italic;
			}
		}

		article {
			font-size-adjust: 20%;
		}

	}

	a.read-more {
		@extend .pull-right;
		@extend .btn;
		@extend .btn-large;
		@extend .btn-primary;
	}
}

.widget {
	@extend .alert;

	h2 {
		i {
			margin-right:10px;
			padding-top:5px;
		}

		a {
			@extend .pull-right;
			@extend .btn;
			min-width:100px;
		}
	}

	ul {
		list-style: none;
		margin-left: 0px;

		li {
			margin-bottom: 10px;
		}

		li > span:first-child, li > a:first-child {
				@extend .label;
				@extend .label-info;
				padding: 5px;
				font-family:monospace;
				margin-right:5px;
		}
	}
}

.widget-info {
	@extend .widget;
	@extend .alert-info;

	h2 a {
		@extend .btn-info;
	}
}

#topics.widget-info {

	li > span:first-child, li > a:first-child {
		@extend .badge;
		@extend .badge-info;
	}
}

.widget-register {
	@extend .widget;
	@extend .alert-success;

	h2 a {
		@extend .btn-success;
	}
}

@media (max-width: 767px) {

	body {
		padding: 5px;

		nav {
			#container {
				padding: 5px;
			}

			margin:0px;
		}
	}

	i {
		display: none;
	}

	.hero-unit { 
		a.read-more {
			float: none;
		}

		.main-event header .title {
			display:block;
		}

		article {
			display: none;
		}
	}

	.widget {

		h2 {
			font-size:16px;

			a {
				display:block;
				float:none;
				margin-bottom: 5px;
			}

		}

		ul {
			display: none;
		}

		li span {
			display:block;
		}

	}
}