body
{
	> header {
		background: $white;
		border-bottom:2px solid $blue-border;
		nav {
		}

		#social {
			text-align:right;
			height: 50px;

			a {
				color: $grayLight;
				background: $blue-background;
				padding: 20px 20px 10px;
				font-size: 1.2em;
				border-bottom: 2px solid $blue-border;
				
				&:first-child {
					border-right: 1px solid $blue-border;
				}
			}
			i {
				margin-top: 10px;
				font-size: 1.6em;
			}
			.icon-twitter {
				color: #2ea7fe;
			}
			.icon-github {
				color: $gray;
			}
		}
	}

}