body
{
	> header {
		background: $white;
		border-bottom:2px solid $blue-border;
		nav {
		}

		#logo {
			text-align:center;
			font-size: 1.8em;
			.description {
				margin-top: 10px;
				color: #2182b3;
				.bracket {
					color: #83b04a;
				}
			}
		}

		#description {
			margin-top: 10px;
			.title { 
				color: $blue-deep; 
				font-size: 2em;
				font-weight: bold;
				margin-bottom: 10px;
			}
			.description { 
				color: $blue-gray; 
				font-size: 1.2em;
				font-style: italic;
				line-height: 20px;
			}
		}

		#social {
			text-align:right;
			height: 80px;

			a {
				color: $grayLight;
				background: $blue-background;
				padding: 20px 20px 10px;
				font-size: 1.2em;
				border-bottom: 2px solid $blue-border;
				
				&:first-child {
					border-right: 1px solid $blue-border;
				}
			}
			i {
				margin-top: 10px;
				font-size: 1.6em;
			}
			.icon-twitter {
				color: #2ea7fe;
			}
			.icon-github {
				color: $gray;
			}
		}
	}

}