@import "lib/bootstrap";

header {
	@extend .hero-unit;

	@include gradient-striped($btnInfoBackground);
	color:white;

	h1 i {
		margin-right:20px;
		padding-right:20px;
		padding-top:20px;
	}

}

#news {
	article {
		margin-bottom:10px;
		
		time {
			@extend .label;
			@extend .label-info;
			@include font-family-monospace;
			@extend .pull-right;
			font-size:1.5em;	
			padding:10px;
			margin-top:10px;
			margin-right:35px;
		}

		.content {
			margin-top:0px;
			@extend .alert;
			@extend .alert-info;
			h1 {
				margin-bottom:10px;
				padding-bottom:10px;
				border-bottom: 2px solid $orange;
			}
			p {
				font-size: 1.2em;
			}
		}
	}

	article:nth-child(even) {
		.content {
			h1 {
				border-bottom-color:$infoText;
			}
		}
	}

	article:nth-child(odd) {
		.content {
			color: $white;
			background-color: $grayDark;
		}

		time {
			background-color: $grayLighter;
			color: $infoText;
		}
	}
}
