body {
  padding-bottom: 40px;
  padding-top: 70px;
  max-width: 1400px; }
  body nav {
    margin: 5px; }
  body h1 {
    font-size: 1.75em; }

@media screen and (max-width:1024px) {
  h1 {
    background-color: green; } }
@media screen and (max-width:758px) {
  body {
    padding-top: 50px; }
    body .hero-unit h1 {
      font-size: 50px;
      background-color: Yellow; }
    body h2 {
      font-size: 22px; } }
@media screen and (max-width:320px) {
  body nav {
    margin-top: 10px; }
  body .btn {
    font-size: 0.5em; }
  body .hero-unit h1 {
    font-size: 40px;
    background-color: Red; }
  body .widget h2 i {
    display: none; }
  body .widget ul li span {
    display: block; } }

