
body {
	background: $blue-background;


	aside {
		@extend .sidebar;

		section {
			@extend .well;
			@extend .sidebar-nav;

			ul {
				@extend .nav;
				@extend .nav-list;
			}
		}
	}



	footer {
		@extend .pull-right;
		margin-right:20px;
	}

	.sponsor {
		a {
			margin-bottom:5px;

			img {
				max-width:80%;
				border:1px solid black;
				padding:2px;
			}
		}
	}

	section#row_2, section#row_1 {
		@extend .row-fluid;
	}
}


@media (min-width: 979px) {

	body {
		padding-bottom: 40px;
	}
}


@media (max-width: 767px) {

	body {
		.container-fluid {
			margin: 0px;
			padding: 0px;
			display:block;
		}
	}

	body nav #inner #container header {
		float:none;
	}

	#content, aside, .widget-info,  {
		float:none;
		display: block;
		width:100%;
	}


	#next-event {
		margin: 5px;
		padding: 5px;

		> h1 {
			font-size: 20px;
		}

		h2 {
			font-size: 17px;
		}
	}

	footer {
		font-size:10px;
	}
}