@import "lib/bootstrap";
@import "lib/responsive";

$blue-background: #ebf0f3;
$blue-border: #d5e0e4;
$blue-deep: #285670;
$blue-gray: #95b8c3;
$blue-menu: #7f9cb0;
$blue-menu-selected: #067eb1;

@import 'Site';
@import 'navigation';
@import 'home';