#future-topics {
	.event-box(#ffd7bb, #ffcaa1, #bc8354, #cd8d68);
	#topic-list {
		margin-left: -20px;
		font-size: 1.3em;

		li {
			border-top: 1px solid #e1a579;
			line-height: 35px;
			padding-left: 20px;

			.topic {
				color: #9e5114;
				font-weight: 600;
			}

			.vote-topic {
				&:extend(.pull-right);
				border-radius:5px;
				background: $white;
				color: #e1a579;
				margin-right: 5px;
				margin-top: 5px;
				font-size: 0.8em;
				line-height: 20px;
				padding: 0px 5px;
			}
		}
	}
}

