@mixin event-box($start-color, $end-color, $title) {
	display:table-cell;
	border-right: 2px solid $blue-background;
	padding-left: 20px;
	padding-top: 20px;
	opacity: 0.95;

	> header {
		font-size: 1.8em;
		margin-bottom: 20px;
		color: $title;
	}

	> ul {
		list-style: none;
		height:230px;
	}

	> footer {
		line-height:50px;
		font-size: 1.2em;
	}


	@include gradient-vertical($start-color, $end-color);

	border-bottom: 1px solid darken($end-color, 10%);
}

#events {
	display: table;
	width: 100%;
	height: 350px;
	margin-bottom: 20px;

	background-image: url('/images/wpg_bridge.jpg');
	background-position: 0px -450px;
	background-repeat: repeat-x; 

	@import 'next_event';
	@import 'past_events';
	@import 'future_topics';
}

.widget {
	@extend .alert;

	h2 {
		i {
			margin-right:10px;
			padding-top:5px;
		}

		a {
			@extend .pull-right;
			@extend .btn;
			min-width:100px;
		}
	}

	ul {
		list-style: none;
		margin-left: 0px;

		li {
			margin-bottom: 10px;
		}

		li > span:first-child, li > a:first-child {
				@extend .label;
				@extend .label-info;
				padding: 5px;
				font-family:monospace;
				margin-right:5px;
		}
	}
}

.widget-info {
	@extend .widget;
	@extend .alert-info;

	h2 a {
		@extend .btn-info;
	}
}

#topics.widget-info {

	li > span:first-child, li > a:first-child {
		@extend .badge;
		@extend .badge-info;
	}
}

.widget-register {
	@extend .widget;
	@extend .alert-success;

	h2 a {
		@extend .btn-success;
	}
}

@media (max-width: 767px) {

	body {
		padding: 5px;

		nav {
			#container {
				padding: 5px;
			}

			margin:0px;
		}
	}

	i {
		display: none;
	}

	.hero-unit { 
		a.read-more {
			float: none;
		}

		.main-event header .title {
			display:block;
		}

		article {
			display: none;
		}
	}

	.widget {

		h2 {
			font-size:16px;

			a {
				display:block;
				float:none;
				margin-bottom: 5px;
			}

		}

		ul {
			display: none;
		}

		li span {
			display:block;
		}

	}
}