#next-event {
	@include event-box(lighten(#7dd8ff, 10%), #35c7ff, #4fa6ce);
	width: 50%;
	.event {
		.title {
			color: #115979; 
			font-size: 2em;
			font-weight: 600;
			margin-bottom: 10px;
		}

		$blue-text: #1081a8;
		.description {
			color: $blue-text;
			padding-right: 20px;
		}

		.location {
			color: #206484;
			font-size: 1.2em;
			.image {
				font-size: 2.5em;
				display: inline-block;
				margin: 10px 10px 5px 0px;
				text-align: center;
				width: 40px;
				i {
					width: 25px;
					margin: auto;
				}
			}
			.venue, .calendar {
				display:inline-block;
				div:first-child {
					font-weight:600;
				}
			}
		}
	}
	> footer {
		position: relative;
		bottom: -5px;
		text-align: right;
		.read-more {
			background: #1aa1d7;
			color: $white;
			border-radius: 15px 0 0 0;
			bottom: 0;
			color: #FFFFFF;
			line-height: 50px;
			padding: 20px;
			position: relative;
			right: 0;
			text-decoration: none;
			font-size: 1.2em;
			font-weight: bold;
			border-bottom: 1px solid darken(#1aa1d7, 10%);
			&:hover {
				background: darken(#1aa1d7, 10%);
			}
			i {
				margin-left: 5px;
				vertical-align: middle;
				font-size: 1.5em;
			}
		}
	}
}
