@section styles
{
@Styles.Render("~/Content/news.css")
}

@section scripts
{
    @Scripts.Render("~/Scripts/vm/home/NewsViewModel.js")
}

<header>
    <h1>
        <i class="icon-eye-open"></i>
        User Group News
    </h1>
</header>
<section id="news" data-bind="foreach: news">
    <article class="row-fluid">
        <section>
            <time data-bind="text: 'Posted ' + $data.Date"></time>
        </section>
        <section data-bind="html: $data.Body" class="content"></section> 
    </article>
</section>
